/* ==========Assets============
Farben: #042A5A, #F4C4C4, #282B29, #7D2222, #DEB873, #D2D2D2, #388883

Schriften: Open Sans, Athene
================================ */
@font-face {
    font-family: Athene;
    src: url("../fonts/Athene.otf");
}

@font-face {
    font-family: OpenSans-Regular;
    src: url("../fonts/OpenSans-Regular.ttf");
}

/* Allgemein */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: OpenSans-Regular;
}

/* Header */
header {
    top: 0px;
    position: fixed !important;
    position: absolute;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #042A5A;
    color: #042A5A;
    padding: 1% 10%;

}

header h1,
header p {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
}

/* Main - erster Bereich */

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    font-family: Athene;
    background-color: #EFE8D7;
    color: #042A5A;
}

.title h1 {
    font-size: 12rem;
    padding: 5rem 10rem;
    /* letter-spacing: 1rem; */
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid #042A5A;
    margin-bottom: 10rem;
}

.title figure {
    margin-bottom: 10rem;
}

.title figure figcaption {
    font-size: 2rem;
    margin: 2rem auto;
}

.title figure figcaption span {
    font-family: OpenSans-Regular;
}