/* ==========Assets============
Farben: #042A5A, #F4C4C4, #282B29, #7D2222, #DEB873, #D2D2D2, #388883

Schriften: Open Sans, Athene
================================ */
@font-face {
    font-family: Athene;
    src: url("../fonts/Athene.otf");
}

@font-face {
    font-family: OpenSans-Regular;
    src: url("../fonts/OpenSans-Regular.ttf");
}

/* Allgemein */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: OpenSans-Regular;
}

/* Header */
header {
    top: 0px;
    position: fixed !important;
    position: absolute;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #042A5A;
    color: #042A5A;
    padding: 1% 10%;

}

header h1,
header p {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
}

/* Main - erster Bereich */

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Athene;
    background-color: #EFE8D7;
    color: #042A5A;
}

.title article {
    margin-bottom: 10rem;
    margin-top: 5rem;
}

.title h1 {
    font-size: 15rem;
    padding: 2rem 10rem;
    /* letter-spacing: 1rem; */
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid #042A5A;

}

.title h1 span {
    letter-spacing: -1rem;
}

.title figure {
    margin-bottom: 10rem;
}

.title figure figcaption {
    font-size: 2rem;
    margin: 2rem auto;
}

.title figure figcaption span {
    font-family: OpenSans-Regular;
}

/* Header der einzelnen Bereiche */
.sub__header__left,
.sub__header__right {
    width: 100%;
    padding-top: 5%;
}

.sub__header__left p {
    padding-left: 8%;
    font-size: 1.5rem;
    margin-bottom: 3%;
}

.sub__header__left h2,
.sub__header__right h2 {
    width: 48rem;
    font-size: 15rem;
    font-family: Athene;
    word-wrap: break-word;
    font-weight: 400;
}

.sub__header__right p {
    padding-right: 6%;
    font-size: 1.5rem;
    margin-bottom: 3%;
}

.sub__header__right p,
.sub__header__right h2 {
    text-align: right;
    margin-right: 0;
    margin-left: auto;
}


/* Main - zweiter Bereich */
.release {
    background-color: #F4C4C4;
    color: #282B29;
    /* display: flex;
    flex-wrap: wrap; */
}

.release .values {
    margin-right: 10%;
    margin-top: 2%;
    margin-left: auto;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}

.text {
    font-size: 1.6rem;
    margin-bottom: 8%;
    line-height: 2;
}

.release .values ul,
.release .values ul li {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.release .values ul li {
    border-bottom: 1px solid #282B29;
    align-items: center;
}

.release .values ul li p {
    /* font-size: 1.3rem; */
    margin-bottom: 4%;
    margin-top: 4%;
}

.values__headline {
    margin-bottom: 0;
    border-bottom: 1px solid #282B29;
    font-size: 1.5rem;
    text-align: right;
    width: 100%;
}

.number {
    font-size: 1.3rem;
    width: 10%;
}

.middle {
    font-size: 2rem;
    flex-grow: 3;
}

.description {
    width: 25%;
    font-size: 1.3rem;
    text-align: right;
}

.stamp {
    width: 25%;
    margin: 25% 0 25% auto;
}

/* Main - dritter Bereich */

.works {
    background-color: #DEB873;
    color: #7D2222;
    /* display: flex;
    flex-wrap: wrap; */
    padding-bottom: 10%;
}

.works__text {
    margin: 2% auto 10% 10%;
    width: 40%;
}

.pic__left,
.pic__right {
    display: flex;
    justify-content: center;
    /* display: inline-block; */
    width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}

.pic__left img,
.pic__right img {
    width: 64%;
}

.pic__left h3,
.pic__right h3 {
    font-size: 5.5rem;
    font-family: Athene;
    font-weight: 400;
    width: 60%;
    z-index: 1;
    /* display: inline-block; */

}

.pic__left h3 {
    text-align: right;
    vertical-align: top;
}

.pic__right h3 {
    text-align: left;
    /* position: relative;
    left: 10%; */
    vertical-align: top;
    margin-right: -5%;
}

.pic__right img {
    margin-left: -5%;
}

/* Main - vierter Bereich */

.contact {
    background-color: #D2D2D2;
    color: #388883;
}

.contact .sub__header__left h2 {
    width: 60rem;
}

.contact__text {
    margin: 2% auto 10% auto;
    width: 25%;
    line-height: 2;
    font-size: 2rem;
}

.contact ul {
    list-style: none;
    text-align: right;
    margin-right: 10%;
    padding-bottom: 5%;
}

.contact ul li {
    line-height: 2;
}

.contact ul li a {
    color: #388883;
    text-decoration: none;
    font-size: 2rem;
}

.contact ul li a:hover {
    text-decoration: underline;
}